<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 每个级别的速度，数字代表变换的间隔毫秒 -->
    <add key="speed" value="1500, 900, 800, 700, 600, 500, 400, 300, 200, 100, 10"/>
    <!-- 每个级别的升级分数 -->
    <add key="update" value="10, 20, 30, 50, 100, 150, 300, 400, 500, 1000, 99999"/>
  </appSettings>
</configuration>